@charset "utf-8";
@media screen and (min-width: 1224px) and (max-height: 880px) {
  /* ---------------------------------------------- */
  /* 동영상 */
  #video {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    overflow: hidden;
    z-index: 1001;
  }
  .play {
    /* position: fixed;
    left: 5.2%;
    bottom: 285px; */
    /* top: 33%; */
    /* left: 3%; */
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 50%;
  }
  .play img {
    width: 100%;
  }
  .stop {
    position: fixed;
    top: 5%;
    right: 3%;
    z-index: 1002;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: red;
    text-shadow: 1.5px 1.5px 2px rgb(164, 164, 164);
  }
}
